@charset "UTF-8";

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 204px;
    margin-left: 505px;
    position: fixed;
    box-shadow: black 0px 0px 15px 0px;
    animation: sombra 1s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes sombra {
    from{width: 250px; box-shadow: 0px 0px 15px 0px black}
    to{width: 250px;box-shadow: 0px 0px 15px 0px rgb(117, 115, 115);}
}